/* CSS Labels Library Styles */
/* Include this file in your project when using the dontInjectStyles option */

/* Container styles */
.css-label--labels-container {
  transition: opacity 100ms;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0%;
  pointer-events: none;
  opacity: 1;
}

.css-label--labels-container-hidden {
  opacity: 0;
}

.css-label--labels-container-hidden div {
  pointer-events: none;
}

/* Individual label styles */
:root {
  --css-label-background-color: #1e2428;
  --css-label-brightness: brightness(150%);
}

.css-label--label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 500;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  filter: var(--css-label-brightness);
  pointer-events: none;
  background-color: var(--css-label-background-color);
  font-weight: 700;
  border-radius: 6px;
  
  transition: opacity 600ms;
  opacity: 1;
}

.css-label--hidden {
  opacity: 0 !important;
}
