/* Vis Labels Library Styles */
/* Include this file in your project when using the `dontInjectStyles` option */

:root {
  --vis-label-background-color: #1e2428;
  --vis-label-color: inherit;
  --vis-label-border: none;
  --vis-label-box-shadow: none;
  --vis-label-filter: none;
  --vis-label-border-radius: 6px;
  --vis-label-font-weight: 500;
  --vis-label-transition: opacity 600ms;
  --vis-label-cursor: pointer;
  --vis-label-max-width: none;
  --vis-label-pointer-events: none;
}

/* Container styles */
.vis-label--labels-container {
  transition: opacity 100ms;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0%;
  pointer-events: none;
  opacity: 1;
}

.vis-label--labels-container-hidden {
  opacity: 0;
}

.vis-label--labels-container-hidden div {
  pointer-events: none;
}

/* Individual label styles */
.vis-label--label {
  position: absolute;
  top: 0;
  left: 0;

  cursor: var(--vis-label-cursor);
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: var(--vis-label-color);
  border: var(--vis-label-border);
  box-shadow: var(--vis-label-box-shadow);
  filter: var(--vis-label-filter);
  pointer-events: var(--vis-label-pointer-events);
  background-color: var(--vis-label-background-color);
  font-weight: var(--vis-label-font-weight);
  border-radius: var(--vis-label-border-radius);
  max-width: var(--vis-label-max-width);
  
  transition: var(--vis-label-transition);
  opacity: 1;
}

.vis-label--hidden {
  /* We use "important" here because the users may pass their own label class, overriding the opacity */
  opacity: 0 !important;
}
